# Arquivos de dados descomprimidos:
dados/

# Notebooks locais:
analises/05_prototipando-captura.ipynb
analises/40_analise-seguidores-votos.ipynb

# Lixos:
analises/.ipynb_checkpoints

# Materiais criados na execução do projeto:
env/
analises/brass/
analises/xavy/
dados.tar